<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "add description", class: "btn btn-primary" %>
<% end %>

<h1><%= link_to "Back to #{@cocktail.name} description", cocktail_path(@cocktail)  %></h1>
